<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">

	<menuitem title="GST" name="gst-root"/>
	
	<menuitem title="Companies" name="gst-root-company" parent="gst-root" action="action.gst.root.company" />
	
	<action-view name="action.gst.root.company" title="Companies" model="com.axelor.gst.db.Company">
		
		<view type="grid" name="company-grid"/>
		<view type="form" name="company-form"/>
		
	</action-view>
	
	<menuitem title="Parties" name="gst-root-party" parent="gst-root" action="action.gst.root.party"/>
	
	<action-view name="action.gst.root.party" title="Parties" model="com.axelor.gst.db.Party">
	
		<view type="grid" name="party-grid"/>
		<view type="form" name="party-form"/>
		
	</action-view>
	
	<menuitem title="Contacts" name="gst-root-contact" parent="gst-root" action="action.gst.root.contact"/>
	
	<action-view name="action.gst.root.contact" title="Contacts" model="com.axelor.gst.db.Contact">
	
		<view type="grid" name="contact-grid"/>
		<view type="form" name="contact-form"/>
		
	</action-view>
	
	<menuitem title="Addresses" name="gst-root-address" parent="gst-root" action="action.gst.root.address"/>
	
	<action-view name="action.gst.root.address" title="Addresses" model="com.axelor.gst.db.Address">
	
		<view type="grid" name="address-grid"/>
		<view type="form" name="address-form"/>
	
	</action-view>
	
	<menuitem title="BankAccounts" name="gst-root-bankAccount" parent="gst-root" action="action.gst.root.bankAccount"/>
	
	<action-view name="action.gst.root.bankAccount" title="BankAccounts" model="com.axelor.gst.db.BankAccount">
	
		<view type="grid" name="bankAccount-grid"/>
		<view type="form" name="bankAccount-form"/>
	
	</action-view>
	
	<menuitem title="Products" name="gst-root-product" parent="gst-root" action="action.gst.root.product"/>
	
	<action-view name="action.gst.root.product" title="Products" model="com.axelor.gst.db.Product">
		
		<view type="grid" name="product-grid"/>
		<view type="form" name="product-form"/>
	</action-view>
	
	<menuitem title="Invoices" name="gst-root-invoice" parent="gst-root" action="action.gst.root.invoice"/>
	<action-view name="action.gst.root.invoice" title="Invoices" model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid"/>
		<view type="form" name="invoice-form"/>
	</action-view>
	
</object-views>